appdirs==1.4.3
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
decorator==4.4.0
fake-useragent==0.1.11
Flask==1.0.2
future==0.17.1
gmusicapi==12.1.0
gpsoauth==0.4.1
httplib2==0.12.3
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.3.3
MarkupSafe==1.1.1
MechanicalSoup==0.11.0
mock==3.0.5
mutagen==1.42.0
oauth2client==4.1.3
proboscis==1.2.6.0
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycryptodomex==3.8.1
python-dateutil==2.8.0
requests==2.21.0
rsa==4.0
six==1.12.0
soupsieve==1.9.1
urllib3==1.24.3
validictory==1.1.2
Werkzeug==0.15.4
